name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # runs daily at midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake (light)
        uses: Platane/snk@v3
        with:
          github_user_name: tamimKTH
          outputs: dist/github-snake.svg

      - name: Generate Snake (dark)
        uses: Platane/snk@v3
        with:
          github_user_name: tamimKTH
          outputs: dist/github-snake-dark.svg?palette=github-dark

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
